.seq .leg1, .invseq .leg6 {
	fill: #edf8fb;
}

.seq .leg2, .invseq .leg5 {
	fill: #bfd3e6;
}

.seq .leg3, .invseq .leg4 {
	fill: #9ebcda;
}

.seq .leg4, .invseq .leg3 {
	fill: #8c96c6;
}

.seq .leg5, .invseq .leg2 {
	fill: #8856a7;
}

.seq .leg6, .invseq .leg1 {
	fill: #810f7c;
}

.coastline {
	fill: none;
	stroke: black;
}

path, .no_data {
	fill: gray;
}

.seq .place:hover {
	fill: red;
}
