/* Main style file for Datavis */

/* ogólne */

body {
	background: #225;
	background-image:url('images/foto4bw2.jpg');
	font-family:sans-serif;
	margin: 0 auto;
	padding:0;
	font-family: sans-serif;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
	body {
		max-width: 75em;
		background-attachment: fixed;
	}
}


.main, .head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

@media screen and (max-width: 800px) {
	.main {
		flex-wrap: wrap;
	}
}

.content_wrapper {
	box-shadow: 0 0 4em 1em black;
}

.main_with_content {
	background: #fff;
}

.part {
	flex-grow: 1;
	margin: 0;
	padding: 0.2em 0.8em;
}

.left_part {
	text-align: left;
	flex-grow: 3;
	flex-basis: 70%;
}

.middle_part {
	text-align: center;
	padding-left: 0.2em;
	padding-right: 0.2em;
	flex-grow: 1;
}

.right_part {
	text-align: right;
	flex-grow: 1;
	flex-basis: 30%;
}

@media screen and (max-width: 800px) {
	.part {
		text-align: center; 
	}
}
.left_ad {
	text-align:left;
}
.right_ad {
	text-align:right;
}

.empty {
	height:5em;
	color:white;
}

.invisible {
	display: none;
}

/* divy */

/* to reconsider */

#empty1_div {
	display: none;
}

#title_div {
	background: rgba(32, 32, 204, 0); /* 2020cc */
}

#indicator_name_div{
	font-size:2em;
	text-align:center;
}

#indicator_unit_div {
	font-size:1.8em;
	text-align:center;
	background:#fc0;
}

#map_div {
	text-align:center;
	background: #fff;
}

#source_div {
	font-style:italic;
	font-size:1em;
	background:#fc0;
}

#footer_div {
	background: rgba(32, 32, 204, 0); /* 2020cc */
}

/* tekst */

a {
	text-decoration:none;
	color: #225;
}

/*tytuł*/

h1 {
	font-size:4em;
	color:#fff;
	margin-top:0;
	margin-bottom:0.1em;
}

.piece {
	font-size:0.9em;
	color:#fc0;
}

.beta {
	font-size:0.4em;
}

/* wizualizacje */
.visualisation {
	width:80%;
}

/* underneath the map */

#vis_settings_minor li {
	display: inline-block;
}

#download_options {
	float: left;
	clear: left;
	width: 45%;
	text-align: left;
	display: none;
}

#social_buttons {
	float: right;
	clear: right;
	width: 50%;
}

#social_div ul {
	list-style: none inside none;
	padding: 0;
	margin: 0 auto;
}

#social_div ul li {
	height: 1em;
	margin-bottom: 0.3em;
	padding: 0.6em;
	width: 10em;
	/*max-width: 11em;*/
	color: white;
	/*float: right;
	clear: both;*/
	background-repeat: no-repeat;

}

#link, #download {
	background-color: #225;
}

#reddit {
	background-color: orangered;
}

#like {
	background-image: url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p50x50/1377580_10152203108461729_809245696_n.png?oh=14d17be2b1c5f36bbcc4881ef01c1fe0&oe=56106A39&__gda__=1448082962_c340b487c8d68bdea4e70ea662caf950');
	background-color: #3A5795;
}

#tweet {
	background-color: #55ACEE;
}

/* form */

fieldset {
	border: none;
}

#search_input_div fieldset {
	font-size: 1.2em;
	font-family: sans-serif;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	width: 100%;
}

#search_input_inner_div {
	display:flex;
	justify-content:space-between;
}

#search_main_div input, #search_main_div button {
    	font-size: inherit;
	border: 0.2em solid #225;
	height: 2em;
	box-sizing: border-box;
}

#search_main_div input {
	width: 78%;
	padding-left: 0.5em;
}

#search_main_div input:focus, button:focus {
	box-shadow: inset 0 0 0.5em #225;
}

#search_main_div button {
	width: 20%;
	background-color: #225;
	color: white;
}

#filter_div label {
	display: block;
}

#filter_div {
	background: #fc0;
	text-align: left;
}

#filter_div fieldset {
	display: inline-block;
}

#filter_div fieldset fieldset {
	display: block;
}

#filter_div fieldset label {
	margin-left: 1em;
}

#filter_div fieldset legend {
	font-size: 1.2em;
}

#sort_label {
	font-size: 1.2em;
}

#search_query {
	color: #225;
}

#search_items_list {
	list-style: none inside none;
	padding-left: 0;
}

.search_item {
	width: 100%;
	box-shadow: 0 0 0.5em 0.2em black;
}

.search_item:hover {
	box-shadow: 0 0 0.5em 0.2em #225;
}

.indicator_title h3 {
	margin: 0;
}

.head {
	text-align: center;
}

.indicator_title {
	width: 78%;
	flex-grow: 3;
	padding: 0.2em 0;
}

.indicator_unit {
	padding: 0.2em 0;
	background-color: #fc0;
	width: 22%;
	flex-grow: 1;
}

.body {
	padding: 0.2em;
}
